@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/ibm-plex-mono-v12-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/ibm-plex-mono-v12-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root {
  --primary-background-color: hsl(0, 40%, 90%);
  --header-color-1: hsl(120, 60%, 85%);
  --header-color-2: hsl(240, 60%, 85%);
  --table-border-color-1: hsl(0, 80%, 75%);
  --table-border-color-2: hsl(0, 80%, 85%);
  --code-box-color: hsl(0, 0%, 20%);
  --tag-color-1: hsl(120, 20%, 95%);
  --tag-color-2: hsl(120, 60%, 85%);
  --tag-color-3: hsl(240, 80%, 75%);
}


body {
  background-color: var(--primary-background-color);
  text-align: center;
}

body ul {
  text-align: left;
  padding-left: 60px;
}

td  {
  text-align: left;
  word-break: break-word;
}

h1 {
  background-color: var(--header-color-1);
}

h2 {
  text-align: left;
  padding-left: 20px;
  background-color: var(--header-color-2);
}

h3 {
  /* text-align: left;
  padding: 0 0 0 40px; */
  font-style: italic;
}

table {
    margin: auto auto;
    border: 1px solid;
    border-color: var(--table-border-color-1);
    width: 900px;
}

td,
th {
    border: 2px solid;
    border-color: var(--table-border-color-2);
}

th {
    background-color: var(--table-border-color-1);
}

.tag {
    color: var(--tag-color-1);
    background-color: var(--code-box-color);
    font-family: 'IBM Plex Mono', monospace;
    font-size: 12px;
    padding-left: 6px;
    width: 200px;
}

.tag span {
    color: var(--tag-color-2);
    font-weight: bold;
}

.tag span.auto {
  color: var(--tag-color-3);
  font-weight: bold;
}
